main {
    margin: 0 auto;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cvs-cover-letters {
    max-width: 60rem;
    width: 85%;
}

#cvs-cover-letters p {
    text-align: center;
}

#application-materials {
    max-width: 80rem;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

#application-materials .textbox:nth-child(1),
#application-materials .textbox:nth-child(4) {
    background-color: #d69ce7;
}

#application-materials .textbox:nth-child(2),
#application-materials .textbox:nth-child(3) {
    background-color: #f5e6f9;
}

#application-materials .textbox:nth-child(2) h3,
#application-materials .textbox:nth-child(3) h3{
    color: #a132cd;
}

.textbox {
    text-align: justify;
    padding: 2rem;
}

.textbox h3 {
    text-align: center;
}

#bottom-text {
    max-width: 60rem;
    width: 85%;
}

.fine-print {
    color: rgb(53, 53, 53);
    font-size: 0.9em;
}

@media (max-width: 1000px) {
    #application-materials {
        display: flex;
        flex-direction: column;
    }

    #application-materials .textbox:nth-child(3) {
        order: 4;
    }

    #application-materials .textbox:nth-child(4) {
        order: 3;
    }
}